.home {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 3rem 5.75rem;
}

.checkout {
  position: fixed;
  right: 50px;
  bottom: 50px;

  >a {

    >button {
      width: 250px;
      height: 50px;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 0.5rem;
      color: white;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      background-color: green;
    }
  }
}